In [27]:
import numpy as np
import pandas as pd

np.random.seed(10)
scores = np.random.randint(50,101,size=(50,5))
students = pd.DataFrame(scores,
             index=[f"學生{i}" for i in range(1,51)],
             columns=["國","英","數","自","社"]
)

# students[["國","英"]] #subscript 裡面放list
students_finish = students.copy() 
students_finish["總分"] = np.sum(students,axis=1) #axis=0 水平 axis=1垂直
students_finish
# students

        國    英   數    自   社   總分
學生1    59   86  65   50  99  359
學生2    78   75  79   98  79  409
學生3    99   58  59   50  92  358
學生4    90   86  66   86  97  425
學生5    61   74  93   83  58  369
學生6    86   64  99   63  55  367
學生7    63   75  63   78  72  351
學生8    80   80  75   62  51  348
學生9    81   86  77   68  79  391
學生10   63   72  73   80  61  349
學生11   78   60  74   59  65  336
學生12   68   66  57   74  61  326
學生13   67   96  57   61  78  359
學生14   83   70  82   74  94  403
學生15   55   54  57   74  74  314
學生16  100   94  84   90  65  433
學生17   63   74  65   56  71  329
學生18   92   72  61   98  62  385
學生19   78   82  99   65  94  418
學生20   90   92  95   93  83  453
學生21  100   95  90   75  59  419
學生22   87   50  68   73  53  331
學生23   79   66  70   68  98  381
學生24   64   65  67  100  75  371
學生25   96   98  92   67  82  435
學生26   67   91  66   91  76  391
學生27   62  100  80   67  67  376
學生28   66   50  81   87  59  343
學生29   50   88  72   82  52  344
學生30   53   81  85   77  68  364
學生31   63   93  98   79  95  428
學生32   61   99  72   87  61  380
學生33   71   83  81   93  74  402
學生34   82   87  59   90  87  405
學生35   93   93  76   57  58  377
學生36   71   58  78   95  80  382
學生37   75   75  64   67  71  352
學生38   63   91  83   54  73  364
學生39   80   78  89   77  89  413
學生40   59   57  72   82  53  323
學生41   59   62  54   80  56  311
學生42   96   60  80   59  52  347
學生43   51   99  88   92  63  393
學生44   61   55  79   97  70  362
學生45   98   92  84   90  96  460
學生46   82   80  72   55  95  384
學生47   68  100  98   94  51  411
學生48   93   63  68   77  69  370
學生49   87   57  74   89  65  372
學生50   56   94  59  100  50  359

In [ ]:
#橫列選取
students_finish.loc["學生1"] # 索引
students_finish.loc[["學生1","學生3"]] #利用[索引]
students_finish.loc["學生10":"學生30"] #利用slicing 快速切割
students_finish.loc["學生1":"學生10","國":"數"]  #第一筆資料列，第二列資料欄
students_finish.iloc[:7,:3]  #第一筆資料列，第二列資料欄
#slicing 都是一個view 會複製資料 不會更動到原始資料
students_finish.loc["學生1","國"]=100 #直接更改原始檔案位置
students_finish

        國    英   數    自   社   總分
學生1   100   86  65   50  99  359
學生2    78   75  79   98  79  409
學生3    99   58  59   50  92  358
學生4    90   86  66   86  97  425
學生5    61   74  93   83  58  369
學生6    86   64  99   63  55  367
學生7    63   75  63   78  72  351
學生8    80   80  75   62  51  348
學生9    81   86  77   68  79  391
學生10   63   72  73   80  61  349
學生11   78   60  74   59  65  336
學生12   68   66  57   74  61  326
學生13   67   96  57   61  78  359
學生14   83   70  82   74  94  403
學生15   55   54  57   74  74  314
學生16  100   94  84   90  65  433
學生17   63   74  65   56  71  329
學生18   92   72  61   98  62  385
學生19   78   82  99   65  94  418
學生20   90   92  95   93  83  453
學生21  100   95  90   75  59  419
學生22   87   50  68   73  53  331
學生23   79   66  70   68  98  381
學生24   64   65  67  100  75  371
學生25   96   98  92   67  82  435
學生26   67   91  66   91  76  391
學生27   62  100  80   67  67  376
學生28   66   50  81   87  59  343
學生29   50   88  72   82  52  344
學生30   53   81  85   77  68  364
學生31   63   93  98   79  95  428
學生32   61   99  72   87  61  380
學生33   71   83  81   93  74  402
學生34   82   87  59   90  87  405
學生35   93   93  76   57  58  377
學生36   71   58  78   95  80  382
學生37   75   75  64   67  71  352
學生38   63   91  83   54  73  364
學生39   80   78  89   77  89  413
學生40   59   57  72   82  53  323
學生41   59   62  54   80  56  311
學生42   96   60  80   59  52  347
學生43   51   99  88   92  63  393
學生44   61   55  79   97  70  362
學生45   98   92  84   90  96  460
學生46   82   80  72   55  95  384
學生47   68  100  98   94  51  411
學生48   93   63  68   77  69  370
學生49   87   57  74   89  65  372
學生50   56   94  59  100  50  359

In [11]:
#利用dataFrame iloc loc 都會是複製的資料
#真的要多一份的時候要記得多一個.copy()

students10 = students_finish.iloc[:10].copy()
students10.loc["學生1","國"] = 100
students10

        國   英   數   自   社   總分
學生1   100  86  65  50  99  359
學生2    78  75  79  98  79  409
學生3    99  58  59  50  92  358
學生4    90  86  66  86  97  425
學生5    61  74  93  83  58  369
學生6    86  64  99  63  55  367
學生7    63  75  63  78  72  351
學生8    80  80  75  62  51  348
學生9    81  86  77  68  79  391
學生10   63  72  73  80  61  349

In [35]:
#比較運算值
students_finish["英文優等"] = students_finish["英"]>=85


# 搜尋
# 英文大於85
students_finish[students_finish["英"]>=85]
# 總分大於500
students_finish[students_finish["總分"]>=400]

        國    英   數   自   社   總分   英文優等
學生2    78   75  79  98  79  409  False
學生4    90   86  66  86  97  425   True
學生14   83   70  82  74  94  403  False
學生16  100   94  84  90  65  433   True
學生19   78   82  99  65  94  418  False
學生20   90   92  95  93  83  453   True
學生21  100   95  90  75  59  419   True
學生25   96   98  92  67  82  435   True
學生31   63   93  98  79  95  428   True
學生33   71   83  81  93  74  402  False
學生34   82   87  59  90  87  405   True
學生39   80   78  89  77  89  413  False
學生45   98   92  84  90  96  460   True
學生47   68  100  98  94  51  411   True